body {
    background: #212529;
    color: #fff;
    text-align: center;
}
header {
    z-index: 10;
}
a {
    z-index: 1;
    position: relative;
    text-decoration: none;
}


nav a img {
    transform: scale(1.3) rotate(0deg);
    transition: transform 0.3s;
    position: absolute;
    z-index: -1;
}
header .show .navbar-nav {
    margin: 1vh 0;
    flex-direction: row;
    justify-content: space-around;
}
nav a:hover img,
nav a:focus img {
    transform: scale(1.4) rotate(360deg);
}
header .nav-link {
    margin: 0 0.1vw;
    padding: 0.5vh 1vw !important;
    color: #558C8C !important;
    border-radius: 0.5rem;
    background-color: #558c8c00;
    transition: background-color 0.3s, color 0.3s;
}
header .nav-link:hover {
    color: #fff !important;
    font-weight: 400;
    border-radius: 0.5rem;
    background-color: #558c8caf;
}
header .nav-link.active {
    color: #fff !important;
    font-weight: 400;
    border-radius: 0.5rem;
    background-color: #558c8caf;
}

main .ap {
    font-size: 1.4vh;
}